* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

button {
  padding: 5px 8px;
  border-radius: 8px;
  min-width: 80px;
}

nav {
  min-width: 90%;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid gray;
}

.schLogout{
  min-width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.loginNav {
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.container {
  min-height: 70vh;
  min-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.loginDiv {
  border: 1px solid green;
  min-width: 50%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  border: 1px solid tomato;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  min-width: 80%;
}

input {
  padding: 6px;
  border-radius: 6px;
  border-style: solid;
}

.form-element {
  min-width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}